@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito:wght@200;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root{
    --main-color: hsl(342, 79%, 41%);
    --bg-color: hsl(284, 87%, 43%) ;
    --trans1-color: hsla(342, 79%, 41%, 0.699);
    --trans2-color: hsla(335, 79%, 41%, 0.699);
    --card-bg-color: hsl(0, 65%, 81%);;
    --white: hsl(0, 0%, 100%); 
    --shadows: hsla(0, 2%, 12%, 0.459);
    --hover-button: hsl(290, 82%, 73%); ;
}

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.navbar {
    background: var(--bg-color);
    background: linear-gradient(90deg, var(--trans1-color), var(--trans2-color));
    color: var(--white);
    justify-content: center;
    font-family: 'Acme', sans-serif;
    font-size: 2.0rem;
    box-shadow: 5px 5px var(--shadows);
    text-shadow: 0 0 2px var(--shadows) ;

}

.card a {
    color: var(--white);
    font-family: 'Acme', sans-serif;
    background-color: var(--main-color);
    padding: 10px 15px;
    border-radius: 0.9rem;
    box-shadow: 0 2px 2px 0 var(--shadows);
}

.card a:hover {
    color: var(--main-color);
    background-color: var(--hover-button);
}


.navbar p {
    margin: 5px 0;
}

.card {
    background-color: var(--card-bg-color);
    box-shadow: 5px 5px var(--shadows);
    margin-bottom: 20px;
    border-radius: 0.7rem;
}

.card-title {
    font-family: 'Acme', sans-serif;
}


.main {
    padding: 5% 50px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 4;
    flex-direction: row;


}

footer{
    background: linear-gradient(90deg, var(--trans1-color), var(--trans2-color));
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}



footer a{
    text-decoration: none;
    color: var(--white);
}

footer a:hover{
    color: var(--white);
}