body {
    background-color: #A9333A;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(27, 27, 27);
    padding: 20px;
    font-size: 30px;
    color: #DFD8CA;
}

footer {
    font-size: 18px;
    color: #DFD8CA;
    margin-top: 50px;
}

footer a {
    color: #DFD8CA;
    text-decoration: none;
}

footer a:hover {
    color: #4E9F3D;
    text-decoration: underline;
}

p input {
    padding: 10px 10px;

}

/* ID SELECTORS */

#quadro {
    background-color: white;
    width: 500px;
    border-radius: 15px;
    box-shadow: rgba(128, 128, 128, 0.712) 5px 5px;
    margin: auto;
    padding: 20px;
}

#botao {
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #4E9F3D;
    border-radius: 5px;
    width: 40%;
    color: #fff;
}

#botao:hover {
    background-color: #105652;
    border-radius: 5px;
    border: none;
}

/* CLASS SELECTORS */

.paragrafos {
    font-size: 20px;
    text-align: start;
}

.input {
    font-size: 25px;
}

.resposta {}