/* TAG SELECTORS */

body {
    background-color: rgb(137, 137, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

footer {
    padding: 18px 0;
    font-size: 20px;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

/* ID SELECTORS */

#quadro {
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(128, 128, 128, 0.712) 5px 5px;
    padding: 20px;
    font-size: 18px;
    width: 500px;
    margin: auto;
}

#imagem {
    height: 250px;
    width: 250px;
}

#botao {
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(137, 137, 255);
    border-radius: 5px;
    width: 20%;
}

#botao:hover {
    background-color: lightslategrey;
    border-radius: 5px;
    border: none;
}

#resultado {
    padding: 10px 0;
}